<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Karim Sports | Home</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="static\style.css" />
  
</head>
<body>
<header>
  <div class="logo">
    <img src="images\HlydsvtV.jpg" class="header-logo">
  </div>
  <nav>
    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links" id="nav-links">
      <li><a href="/" style="font-weight: bold;">Home</a></li>
      <li><a href="academy.html" style="font-weight: bold;">Academy</a></li>
      <li><a href="tournament.html" style="font-weight: bold;">Tournament</a></li>
      <li><a href="gallery.html" style="font-weight: bold;">Gallery</a></li>
      <li><a href="contact.html" style="font-weight: bold;">Contact</a></li>
    </ul>
  </nav>
</header>


    <section class="academy-poster">
      <img src="images\main poster.png" class="main-image"> 
      </section>


  <section class="academy-about">
    <h2>About Us / Our Academy</h2>
 <div class="about-content">
      <img src="images\about2.jpg" alt="About Image" />
     <p> At Karim Sports Academy, we are committed to developing cricketing talent through professional coaching, structured practice, and modern training methods. Our programs are designed to suit players at every level — from beginners learning the basics to advanced athletes preparing for competitive cricket.</p>
    </div>

    <div class="about-content">
      <p>More than just a coaching center, we are a community built on discipline, teamwork, and passion for the game. With expert coaches, fitness-focused sessions, and match-oriented training, Karim Sports Academy provides the perfect platform for aspiring cricketers to achieve their goals.</p>
      <img src="images\ground2.jpg" alt="About Image" />
    </div>
    </section>

    <section class="tournament-list">
    <h2 class="section-title">Upcoming Tournaments</h2>
    <div class="cards">
      <div class="tournament-card">
        <img src="images\kplll.png" alt="Nagpur U16">
        <div class="info">
          <h3>KPL Nepal Tournament</h3>
          <p>This September | Nepal </p>
          <p>📍 Pokhra International Stadium, Nepal.</p>
          <a href="kpl-nepal-tournament.html" class="btn-cta">Register Now</a>
        </div>
      </div>

    </div>
  </section>

  <section class="home-gallery">
  <div class="section-header">
    <h2>Gallery</h2>
    <a href="gallery.html" class="view-all-btn">View All →</a>
  </div>
  <div class="gallery-slider-wrapper">
    <div class="gallery-slider" id="home-gallery-slider">
      <img src="images/gallery.jpg" alt="Gallery Image 1">
      <img src="images/gallery2.jpg" alt="Gallery Image 2">
      <img src="images/gallery3.jpg" alt="Gallery Image 3">
      <img src="images/gallery4.jpg" alt="Gallery Image 4">
      <img src="images/gallery5.jpg" alt="Gallery Image 5">
      <img src="images/gallery6.jpg" alt="Gallery Image 6">
      <img src="images/team.jpg" alt="Team Photo">
      <img src="images/team1.jpg" alt="Team Photo 2">
      <img src="images/team2.jpg" alt="Team Photo 3">
    </div>
  </div>
</section>

  <div class="testimonial-wrapper">
  <div class="carousel-container" id="carousel">
    <div class="testimonial-card active">
      <p class="quote">“Joining Karim Sports Academy was the best decision for my cricket career. The coaches here focus on technique, fitness, and mindset, which helped me improve my batting skills drastically. I’ve grown more confident on and off the field!”</p>
      <div class="profile">
        <div>
          <div class="name">Devansh singh</div>
         
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <p class="quote">“Amazing coaches and great atmosphere! Karim Sports Academy has truly boosted my game.”</p>
      <div class="profile">
       
        <div>
          <div class="name">Utkarsh Soni</div>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <p class="quote">“What sets Karim Sports Academy apart is the dedication of the trainers. They care about each player’s progress and push you to achieve your best. The match simulations have really prepared me for competitive tournaments”</p>
      <div class="profile">
        <div>
          <div class="name">Sahil Khan</div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="nav-buttons">
    <button id="prevBtn">←</button>
    <button id="nextBtn">→</button>
  </div>
</div>


  <section class="newsletter" id="contact">
    <h2>Subscribe for newsletter</h2>
    <form id="newsletterForm">
 <input type="email" name="email" placeholder="Enter your email" required />
  <button class="btn" type="submit">Subscribe</button>
</form>
  </section>

  <footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="images\HlydsvtV.jpg" alt="K Sports Logo" class="footer-logo">
      <h2>KARIM SPORTS</h2>
      <p>All sports wear. All cricket equipment.</p>
      <p><i class="fas fa-envelope"></i> ksports87@gmail.com</p>
      <p><i class="fas fa-phone"></i> 9823293650</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <a href="index.html">Home</a> <br>
      <a href="academy.html">Academy</a> <br>
      <a href="tournament.html">Tournament</a> <br>
      <a href="gallery.html">Gallery</a> <br>
      <a href="contact.html">Contact</a> <br>

    </div>

    <div class="footer-contact">
      <h3>Visit Us</h3>
      <p>Karimsports outlet<br>
         Borgaon road near Dinsha factory,<br>
         Keps Regency, D-8, Karimsports, Nagpur<br>
         MAHARASHTRA, 440013</p>
      <div class="social-links">
        <a href="https://www.instagram.com/ksports87?igsh=eGM1NndxbjdieGg=">
          <img src="images/instagram.jpeg" alt="Instagram">
        </a>
         <a href="https://youtube.com/@karimsportspremierleague?si=gcl5PSG_OqaTriPE">
          <img src="static\images\youtube.jpeg" alt="Youtube">
        </a>
        <a href="https://wa.me/919823293650">
          <img src="images/whatsapp.jpeg" alt="WhatsApp">
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
  </div>

 <div class="social-float-container">
    <a href="https://www.instagram.com/ksports87?igsh=eGM1NndxbjdieGg=" target="_blank">
        <img src="images\instagram.jpeg" alt="Instagram">
    </a>
    <a href="https://youtube.com/@karimsportspremierleague?si=gcl5PSG_OqaTriPE" target="_blank">
        <img src="images\youtube.jpeg" alt="Youtube">
    </a>
    <a href="https://wa.me/919823293650" target="_blank">
        <img src="images\whatsapp.jpeg" alt="WhatsApp">
    </a>
</div>
</footer>

    <footer>
      <p>© 2025 K Sports. All rights reserved.</p>
    </footer>

    <div id="status-popup" class="status-popup">
      <div class="popup-content">
        <p id="popup-message"></p>
      </div>
    </div>

  <script src="script.js" defer></script>
</body>
</html>